[submodule "Smart_Join"]
	path = Smart_Join
	url = https://github.com/SomeRandomGuy45/Smart_Join/
[submodule "CreateMacbloxInstaller"]
	path = CreateMacbloxInstaller
	url = https://github.com/SomeRandomGuy45/CreateMacbloxInstaller
[submodule "sol2"]
	path = sol2
	url = https://github.com/ThePhD/sol2.git
