<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationFlavor</key>
	<string>VANILLA</string>
	<key>BaseServer</key>
	<string>https://www.sitetest3.robloxlabs.com/</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.Roblox.Roblox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.635.0.6350588</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6350588</string>
	<key>LSMinimumSystemVersion</key>
	<string></string>
	<key>LSUIPresentationMode</key>
	<real>0.0</real>
	<key>NSCameraUsageDescription</key>
	<string>Roblox needs access to your camera for beta features.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Roblox needs access to your microphone to chat with voice.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUIElement</key>
	<string>1</string>
	<key>RobloxChannel</key>
	<string></string>
	<key>S3FallbackBucket</key>
	<string>setup.sitetest3.robloxlabs.com</string>
	<key>SetupServer</key>
	<string>http://setup.roblox.com/mac/</string>
</dict>
</plist>
